<form name="userForm" class="form-horizontal register-form" action='' method="POST" ng-submit="register(userForm.$valid)" novalidate>
  <fieldset>
    <div id="legend">
      <legend class="">Register</legend>
    </div>
    <!-- Username -->
    <div class="control-group">
      <label class="control-label"  for="username">Username</label>
      <div class="controls" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine}">
        <input type="text" id="username" name="username" placeholder="" class="input-xlarge" ng-model="username" ng-minlength="3" ng-maxlength="8">
        <p class="help-block">Username should be between 3 to 8 characters</p>
        <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
        <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
      </div>
    </div>
 
    <!-- E-mail -->
    <div class="control-group">
      <label class="control-label" for="email">E-mail</label>
      <div class="controls" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
        <input type="email" id="email" name="email" placeholder="" class="input-xlarge" ng-model="email" required>
        <p class="help-block">Please provide your E-mail</p>
        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
      </div>
    </div>
 
    <!-- Password-->
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge" ng-model="password" ng-minlength="4" required>
        <p class="help-block">Password should be at least 4 characters</p>
        <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
      </div>
    </div>
 
    <!-- Confirm Password -->
    <div class="control-group">
      <label class="control-label"  for="password_confirm">Password (Confirm)</label>
      <div class="controls"  ng-class="{ 'has-error' : userForm.password_confirm.$invalid && !userForm.password_confirm.$pristine }">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge" ng-model="cnfpassword" required>
        <p class="help-block">Please confirm password</p>
      </div>
    </div>
 
    <!-- Button -->
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-info" ng-click="login()">Back to Login</button>
        <button type="submit" class="btn btn-success" ng-disabled="userForm.$invalid">Register</button>
      </div>
    </div>
  </fieldset>
</form>